body {
  background-color: #cecece;
}

.stopwatchButton {
  width: 70px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
}

#startButton {
  background-color: #00ee9fab;
}

#stopButton {
  background-color: #ff5d5d;
}

#resetButton:disabled {
  opacity: 0.9;
}